*
{
    margin: 0;
    padding: 0;
    font-family: Comme;
    box-sizing: border-box;
}
.container
{
    margin: 0px;
    height: 100vh;
    background: linear-gradient(135deg, #f77b0fce, #45ce36d5);
    align-items: center;
    justify-content:center ;
    display: flex;
}
.calc
{
    background-color: #202020bf;
    padding:20px;
    border-radius: 10px;

}
/* body > div > div , */
input
{
    border: none;
    outline:none;
    width: 90px;
    height :60px;
    border-radius: 10px;
    box-shadow: -1px -1px 3px rgba(228, 228, 228, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.53), 0 1px 5px rgba(0, 0, 0, 0.1); 
    background: #323232;
    color: white;
    

}
.btn i {
    position: absolute;
    width:105px;
    padding-top: 30px;
    padding-left: 30px;
    min-width: 35px;
    color: rgba(255, 255, 255, 0.697);
}
div.btn>input:hover
{
    background-color: rgb(60, 60, 60);
    transition:0.3s;
}

div.btn>input:nth-child(4),
body > div > div > form > div:nth-child(2) > input[type=button]:nth-child(1),
body > div > div > form > div:nth-child(2) > input[type=button]:nth-child(2),
body > div > div > form > div:nth-child(2) > input[type=button]:nth-child(3)
{
    background-color: gray;
}
div.btn>input:nth-child(4):hover
{
    background-color: #935B03;
    transition:0.3s;
}
body > div > div > form > div:nth-child(2) > input[type=button]:nth-child(1):hover,
body > div > div > form > div:nth-child(2) > input[type=button]:nth-child(2):hover,
body > div > div > form > div:nth-child(2) > input[type=button]:nth-child(3):hover
{
    background-color: rgb(99, 99, 99);
    transition:0.3s;
}
body > div > div > form > div:nth-child(6) > input.equal:hover
{
    background-color: #935B03;
    transition:0.3s;
}
body > div > div > form > div:nth-child(6) > input.equal,
div.btn>input:nth-child(4)
{
    background-color: #f69906;
}
body > div > div > form > div
{
    padding: 5px;
    
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input
{
    text-align: right;
    flex: 1;
    font-size:45px;
    box-shadow: none;
    background:rgba(255, 255, 255, 0.279);
    /* color: #3c3c3c; */
    /* background:transparent; */
}
form input.zero
{
    width:185px;
}